body{
  background-image:url("../imgs/1.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  text-align:center;
  margin:0;
  font-family:Helvetica,Arial,sans-serif;
}
img{
  position:fixed;
  right:0;
  top:50%;
  height:80dvh;
}
header{
  background-color:#0B1B30;
  color:white;
  margin:-10px;
  padding:2px;
  font-size:20px;
  opacity:0.8;
}
.formulario{
  position:absolute;
  background-color:#0B1B30;
  opacity:0.8;
  width:30%;
  height:200px;
  border-radius:5px;
  top:20%;
  color:white;
  text-align:center;
  left:50%;
  transform:translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  background-color:#1C304D;
  border:1px solid black;
  border-radius:5px;
  opacity:none;
  padding:10px;
}
.descripcion{
  position:absolute;
  width:30%;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
textarea{
  width:50%;
  padding:100px;
  opacity:0.8;
}
