body{
  background-image:url("../imgs/1.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  text-align:center;
}
img{
  position:fixed;
  right:0;
  top:50%;
  height:80dvh;
}
header{
  background-color:black;
  color:white;
  margin:-10;
  padding:2px;
  font-size:20px;
  opacity:0.8;
}
