<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
  <div class="cabecera">
    <header>
      <h1>Coffe</h1>
    </header>
  </div>
  <div class="formulario">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p}}
      <br>
      <br>
      <button id="btn1">Aceptar</button>
    </form>
  </div>
  <div><img src="{% static 'imgs/k-on.png' %}"></div> 
  </body>
</html>
